.explore-blogs {
  &__heading {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 2.8rem;
    margin-bottom: 4rem;
    color: #10152e;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    @media (min-width: 540px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__image-wrapper {
    margin-bottom: 2.5rem;
  }

  &__image {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__category {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #000000;
  }

  &__separator {
    color: #dedede;
    font-size: 1.4rem;
  }

  &__date {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #757575;
  }

  &__title {
    color: #121212;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
  }
}
