.author-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.8rem;
  border-bottom: 1px solid #e5e6ea;
  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__avatar {
    height: 3.2rem;
    width: 3.2rem;
    &--img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 1.6rem;
    color: #4e5265;
    letter-spacing: 1px;
    line-height: 2.4rem;
    font-weight: 600;
  }
  &__date {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
    font-weight: 500;
  }
}
